/* ---------------------------------------------- General Rules */

html {
    height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed; */
    /* background-size: cover; */
    background: #b0e4d5;
    height: calc(100vh - 164px);
    color: #555555;
    font-family: 'Lato';
}

/* ---------------------------------------------- base.html */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

#our-logo {
    font-family: 'Metal Mania';
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(26, 109, 98);
    color: white;
}

.text-green {
    color: rgb(75, 131, 81) !important;
}

.text-black {
    color: rgb(0, 0, 0) !important;
}

.border-green {
    border: 1px solid rgb(75, 131, 81) !important;
}

.border-black {
    border: 1px solid rgb(0, 0, 0) !important;
}

.bg-black {
    background: #000000 !important;
}

.navbar-toggler-icon{
    color: rgb(75, 131, 81) !important;
}

/* ---------------------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 992px) {
    .hero-text {
        padding-top: 250px;
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .nav-link {
        padding: 0.125rem 0.25rem;
    }
}